* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* utils */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.blueText {
  color: #1b9cfc;
}

.boldText {
  font-weight: 700;
}

.ml-32 {
  margin-left: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}
